@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import "tailwindcss";
 
@theme{
    --font-alan: "Alan Sans", sans-serif;
    --breakpoint-sm: 768px;
}
@layer components{
    .hide{
        @apply translate-y-[-100%]
    }
    .show{
        @apply translate-y-[0];
    }
    .grid-mobile{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        place-items: center;
        gap: 1rem;
    }
    .cut{
        clip-path: polygon(35% 0, 100% 0, 100% 100%, 0 100%);
    }
}